@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

.container-size {
  height: 100%;
}

/* scroll */
/* BEAUTIFUL SCROLLBAR FOR SIDEBAR */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c7c7c7 #f1f1f1;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 8px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}






