@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

.container-size {
  height: 100%;
}





